/* <?php echo basename(__FILE__);  // s.css as of now ?> */

html { color-scheme: light; }
h1 {text-align: center}
h2 { margin-top: 3rem; margin-left: 2rem; }
button { cursor: pointer; }
pre { border-radius: 5px; padding-left: 1em; overflow: scroll; }
a { text-underline-offset: 0.2em; }
a:hover { position: relative; z-index: 1; }
a:hover::before {
    position: absolute; z-index: -1;
    display: inline-block; content: "";
    left: 0; right: 0; top: -0.2em; bottom: 0;
}

/* Improvised bright color scheme and TokyoNight color scheme */
[scheme=light] pre { border-color: #111111; }
[scheme=light] pre b,
[scheme=light] a { color: #000066; }
[scheme=light] a:visited { color: #660044; }
[scheme=light] .bg1 { background-color: #ffffff; }
[scheme=light] .fg1 { color: #111111; }

[scheme=dark] pre { color: #7dcfff; }
[scheme=dark] pre b,
[scheme=dark] a { color: #7aa2f7; }
[scheme=dark] a:visited { color: #bb9af7; }
[scheme=dark] .bg1 { background-color: #24283b; }
[scheme=dark] .fg1 { color: #c0caf5; }

[scheme=light] a:hover,
[scheme=light] button:hover,
[scheme=light] a:hover::before,
[scheme=light] *::selection { background-color: #111122; color: #c0caf5 }
[scheme=light] button,
[scheme=light] body > div { border-color: #cccccc; }
[scheme=light] body > div > header,
[scheme=light] pre { background-color: #eeeeee; }
[scheme=light] .shadow { box-shadow: #cccccc 0 0 1rem 0; }

[scheme=dark] a:hover,
[scheme=dark] button:hover,
[scheme=dark] a:hover::before,
[scheme=dark] *::selection { background-color: #e0af68; color: #1d202f }
[scheme=dark] button,
[scheme=dark] body > div { border-color: #1d202f; }
[scheme=dark] body > div > header,
[scheme=dark] pre { background-color: #1d202f; }
[scheme=dark] .shadow { box-shadow: #1d202f 0 0 1rem 0; }

body {
    line-height: 1.5em; margin: 0;
    font-family: system-ui; font-size: 0.5cm;
}
body > div {
    max-width: 30cm; margin: 0 auto;
    border-left: 1px solid; border-right: 1px solid;
}
body > div > header, body > div > main {
    padding: 1em 1em;
}
button {
    border-style: solid; border-width: 2px; border-radius: 3px;
    font-family: inherit; font-size: inherit
}

/* <?php echo "The original file had the MIT notice here";
// Copyright (c) 2023 Dimakopoulos Theodoros

// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:

// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.

// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.
?> */
